@(message: String)

@main("Welcome to Play") {

    @play20.welcome(message)


    <form method="POST" action="@routes.Application.register()">
        <label for="name">Nazwa</label>
        <br/>
        <input type="text" name="name" id="name" />
        @*<br/>*@
        @*<label for="password">Hasło</label>*@
        @*<br/>*@
        @*<input type="password" name="password" id="password"/>*@
        @*<br/>*@
        @*<label for="password_repeat">Powtórz hasło</label>*@
        @*<br/>*@
        @*<input type="password" name="password_repeat" id="password_repeat"/>*@
        @*<br/>*@
        <button type="submit">Zarejestruj się!</button>
    </form>

}
